{% extends "base.html" %}

{% block content %}
  <h1>Detalhes do Motorista</h1>

  <p><strong>Usuário:</strong> {{ driver.username }}</p>
  <p><strong>Nome:</strong> {{ driver.first_name }} {{ driver.last_name }}</p>
  <p><strong>Número da Licença:</strong> {{ driver.license_number }}</p>

  <hr>

  <a href="{% url 'taxi:driver-update-license' driver.pk %}" class="btn btn-primary">Atualizar Licença</a>
  <a href="{% url 'taxi:driver-delete' driver.pk %}" class="btn btn-danger">Excluir Motorista</a>
{% endblock %}
